<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejercicio Login/SingUp</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/sign_up">Registro</a>
    <a href="/login">Iniciar sesión</a>

    <div id="divUser"></div>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- js -->
    <script src="../public/js/index.js"></script>
  </body>
</html>
