<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejercicio Login</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/sign_up">Registro</a>
    <a href="/login">Iniciar sesión</a>

    <form id="login">
      <input type="email" name="email" id="email" placeholder="Correo" />
      <input type="password" name="password" id="password" placeholder="Contraseña" />
      <button type="submit">Iniciar sesión</button>
    </form>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- js -->
    <script src="../public/js/login.js"></script>
  </body>
</html>
